.card-container{
    height: 35vh;
    width: 50%;
    margin: auto;
    border-radius: 35px;
    background: linear-gradient(260deg, rgba(255,255,255,0.6),rgba(255,255,255,0.7));
    gap: 15px;
    transition: ease-in-out 0.3s;
}
.city-name {
    font-size: 1.5rem;
    padding: 15px;
}

.current-weather{
    font-size: 1.35rem;
    font-weight: 900;

}

.weather-data {
    margin: 5px;
}
 .card-container:hover{
    box-shadow: 0px 0px 25px 10px rgba(26, 209, 148, 0.19);
    border-radius: 25px;
    
 }

 .icon {
    width: 15%;
    height: 100%;
 }
 .weather-icon{
    height: 80px;
    width: 80px;
 }

 .border{
    margin: 10px 5px;
    height: 100%;
    border-left: 2px solid black;
 }
