.card-container{
    height: 35vh;
    width: 50%;
    margin: auto;
    border-radius: 35px;
    background: linear-gradient(260deg, rgba(255,255,255,0.6),rgba(255,255,255,0.7));
    padding: 15px;
    transition: ease-in-out 0.3s;
    box-sizing:border-box;
}
.city-name {
    font-size: 1.5rem;
}

.current-weather{
    font-size: 1.35rem;
    font-weight: 900;
    align-items: center;

}

.weather-data {
    margin: 5px;
}
 .card-container:hover{
    box-shadow: 0px 0px 25px 10px rgba(26, 209, 148, 0.19);
    border-radius: 25px;
    
 }

 .icon {
    width: 20px;
    height: 100%;
 }
 .weather-icon{
    height: 80px;
    width: 80px;
 }

 .border{
    margin: 10px 5px;
    height: 60%;
    border-left: 2px solid #333;
    opacity: 0.5;
 }

@media  screen and (max-width:1110px) {
    
    .card-container{
        width: 70%;
    }
}
@media  screen and (max-width:795px) {
    
    .card-container{
        width: 90%;
    }
}

@media  screen and (max-width:620px) {
    
    .card-container{
        width: 90%;
    }
}

@media screen and (max-height:800px) {

    .current-weather{
        font-size: 0.8rem;
    }
    .border{
        height: 60%;
    }
    .city-name{
        font-size: 1rem;
    }
    
  }