.forecast-container{
    width: 30%;
    height: 50%;
    transition: ease-in-out 0.3s;
    padding-bottom: 15px;
    margin: 0;
}

.text-highligh{
    font-size: 1rem;
    font-weight: 900;
    gap:15px;
}

.forecast-icon{
    width: 25%;
}

.border-card{
    border-right: 1px solid #333;
    height: 60px;
}

.border-card:last-child{
    display: none;
}