.forecast-container{
    width: 30%;
    height: 70%;
    border-radius: 25px;
    background: linear-gradient(260deg, rgba(255,255,255,0.6),rgba(255,255,255,0.7));
    transition: ease-in-out 0.3s;

}

.text-highligh{
    font-size: 1rem;
    font-weight: 900;
}

.forecast-container:hover{
    box-shadow: 0px 0px 25px 5px rgba(26, 209, 148, 0.29);
}

.forecast-icon{
    width: 25%;
}